@import "src/scss/variables";

body{
  padding-top: 0;
  @media (min-width: 992px) {
    padding-top: 50px;
  }
  @media (min-width: 1400px) {
    padding-top: 100px;
  }
}

.task {
  border: 2px solid $yellow-color;
  border-radius: 8px;
  box-shadow: -1px 4px 25px -11px $blue-color;
  padding: 1rem;

  & span {
    font-size: 3rem;
    font-weight: bold;
  }

  &__img {
    width: auto;
    height: 125px;
    & img{
      object-fit: contain;
      height: 125px;
    }
  }
}