@import "src/scss/variables";

main{
  padding-top: 100px;
}

.task{
  height: 371px;
  border: 2px solid $yellow-color;
  border-radius: 8px;
  box-shadow: -1px 4px 25px -11px $blue-color;
  padding: 1rem;
  & span{
    font-size: 3rem;
    font-weight: bold;
  }
  &__img{
    width: 70%;
    height: 70%;
  }
}