@import "src/scss/variables";
@import "src/scss/main";

.tile{
  border: 2px solid $blue-color;
  border-radius: 7px;
  box-shadow: -1px 4px 25px -11px $yellow-color;
  color: $main-color;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  &__img {
    width: auto;
    height: 125px;
    & img{
      object-fit: contain;
      height: 125px;
    }
  }
}