@import "src/scss/variables";
@import "src/scss/main";

.numbers{
  padding-top: 0;
  @media (min-width: 992px) {
    padding-top: 50px;
  }
  @media (min-width: 1400px) {
    padding-top: 100px;
  }
}
a{
  color: $red-color;
}

.song{
  color: $text-color;
  font-size: 2.5rem;
  font-weight: bold;
  height: 400px;
}
figure {
  height: 100%;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;
  width: 100%;
  & iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
.exercises{
  margin-top: 100px;
  @media (min-width: 768px){
    margin-top: 0;
  }
  &__title{
    font-size: 2.5rem;
    color: $text-color;
    font-weight: bold;
  }
}
.exercise__one{
  font-size: 1.5rem;
  color: $text-color;
}