@import "src/scss/variables";
@import "src/scss/main";

.numbers{
  padding-top: 0;
  @media (min-width: 992px) {
    padding-top: 50px;
  }
  @media (min-width: 1400px) {
    padding-top: 100px;
  }
}
a{
  color: $red-color;
}

.exercises{

  &__title{
    font-size: 2.5rem;
    color: $text-color;
    font-weight: bold;
  }
}
.exercise__one{
  font-size: 1.5rem;
  color: $text-color;
}